.add-btn {
  width: 261.8px;
  height: 52.3px;
  border: solid 1px #3772ff;
  background-color: #3772ff;
  font-size: 17px;
  color: #ffffff;
  border-radius: 5px;
  text-align: start;

  &__icon {
    width: 26.5px;
    height: 26.5px;
    object-fit: contain;
  }
}
