@mixin viewCard($width) {
  width: $width;
  border-radius: 5px;
  padding: 16px;
  background-color: #ffffff;
  font-family: ATC Arquette;
  font-size: 13px;
}

.card {
  width: 340.4px;
  height: 387.9px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 1.5rem 4rem rgba(#000000, .15);

  img {
    height: 240px;
    object-fit: cover;
    opacity: .8;
  }

  &__views {
    position: absolute;
    top: 5%;
    left: 22%;

    &--comment {
      @include viewCard(351.4px);
      color: rgba(23, 37, 90, 0.7);
    }

    &--rating {
      @include viewCard(73.5px);
      color: #edb412;

      .fa-star {
        font-size: 20px;
      }
    }
  }

  &__tag {
    width: 165.5px;
    height: 25.3px;
    background-color: rgba(55, 114, 255, 0.15);
    padding: 6px;
    font-size: 11px;
    color: #3772ff;
    text-align: center;
  }

  &__tag-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 25px;
    color: #17255a;
  }

  &__subtitle {
    font-size: 13px;
    color: rgba(23, 37, 90, 0.7);
  }
}