
.navbar {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;

  &__img {
    width: 52px;
    height: 48px;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  }

  &__name {
    width: 193px;
    height: 33px;
    font-size: 25px;
    text-align: left;
    color: #3772ff;
  }

  &__search-restaurants {
    width: 183px;
    height: 30px;
    font-size: 22px;
    text-align: left;
    color: #a0a4d0;
  }

  &__search {
    width: 22.8px;
    height: 22.8px;
    cursor: pointer;
  }
}
