*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background: pink;
  font-weight: 400;
  font-family: "Open Sans", open-sans, sans-serif;
}

a {
  text-decoration: none;
}
