*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-weight: 400;
  font-family: ATC Arquette;
}

a {
  text-decoration: none;
}

.App {
  background-color: #f5f6fa;
  margin: 0;
  padding: 0;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.dashboard {
  height: 2066px;
}
